<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.koo.terry.Simple</key>
		<string>SimpleGithubAction</string>
	</dict>
	<key>signingCertificate</key>
	<string>2A48324FF5B5076D6DC1E23540B842C6BA0EFB6E</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>PQ5FS4VVLR</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
